@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
:root {
    --dark-color: #222;
    --dark-lighter-color: #333;
    --light-color: #eee;
    --light-darker-color: #aaa;
    --error-color: #f44;
    --primary-color: #44f;
    --success-color: #4f4;
    --gray-color: #555;
}

.disable-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

* {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-color);
    color: var(--light-color);
}

main {
    margin: 5px 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
    color: var(--light-color);
}

.container {
    display: flex;
    flex-direction: column;
}

.align-left {
    justify-content: flex-start;
}

.align-right {
    justify-content: flex-end;
}

.align-center {
    justify-content: center;
}

.row {
    display: flex;
}

table {
    border-collapse: collapse;
    position: relative;
    border-bottom-style: solid;
}

section.upper-table {
    height: 250px;
    overflow-y: auto;
    border: 2px solid var(--dark-color);
    box-shadow: 3px 3px 7px var(--light-darker-color);
}

th, td {
    text-align: left;
    padding: 3px 5px 3px 10px;
    color: var(--dark-lighter-color)
}

th {
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--dark-lighter-color);
    position: sticky;
    top: 0;
}

td {
    font-size: 0.9rem;
}

tr {
    background-color: var(--light-color);
}

tr:nth-child(even) {
    background-color: var(--light-darker-color);
}

.dialog {
    padding: 20px 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-darker-color);
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--dark-color);
}

nav {
    order: -1;
}

.navbar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    z-index: 10;
}

.navbar-menu {
    display: flex;
    height: 40px;
    justify-content: flex-start;
    z-index: 10;
}

.navbar-menu-item {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.navbar-menu-item:nth-child(3) {
    width: 130px
}

.navbar-menu-item:hover {
    background-color: var(--dark-lighter-color);
    color: var(--error-color);
}

.navbar-menu-item-title {
    display: block;
    padding: 10px 30px 10px 10px;
    user-select: none;
}

.navbar-menu-item:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    width: 300px;
}

.dropdown-menu-item {
    display: flex;
    align-items: center;
    background-color: var(--dark-color);
    height: 50px;
    align-items: center;
}

.dropdown-menu-item:hover {
    background-color: var(--dark-lighter-color);
}

.dropdown-menu-item-title {
    padding: 10px 5px;
    user-select: none;
}

.navbar-search {
    display: flex;
    justify-content: flex-end;
}