@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import "bootstrap/bootstrap.css";

* {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.dropdown-item:hover {
    background: var(--dark);
    color: var(--light);
}

span.nav-link {
    cursor: pointer;
    user-select: none;
    color: var(--light);
}

span.nav-link:hover {
    color: var(--primary);
}

span.dropdown-item {
    cursor: pointer;
    user-select: none;
    color: var(--light);
}

span.dropdown-item:hover {
    color: var(--primary);

}